@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("./fonts/Gilroy-Regular.eot") format("embedded-opentype"),
    url("./fonts/Gilroy-Regular.woff") format("woff"),
    url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.page {
  --orange: #f7941e;
  --white: #fff;
  --black: #000;
  --grey: #f2f2f2;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  font-family: "Gilroy", sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 116px;
}

.logo {
  width: 41px;
  height: 39px;
}

.header__links {
  list-style: none;
  display: flex;
  column-gap: 31px;
  padding: 0;
}

.header__link {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--black);
}

.header__link a {
  text-decoration: inherit;
  color: inherit;
}

.button {
  color: var(--orange);
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 22px;
  border: 1px solid var(--orange);
  border-radius: 5px;
  width: 150px;
  height: 44px;
  background: var(--white);
  text-transform: uppercase;
}

@media screen and (max-width: 580px) {
  .header {
    flex-direction: column;
  }
}

@media screen and (max-width: 330px) {
  .header {
    height: auto;
  }
  .header__links {
    flex-direction: column;
  }
}

.main {
  width: 100%;
}

.article {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: center;
  padding-left: 162px;
}

.article__title {
  max-width: 433px;
  font-size: 56px;
  line-height: 69px;
  margin: 0;
  padding: 0;
}

.article__text {
  max-width: 433px;
  font-size: 20px;
  line-height: 140%;
  margin: 0;
  padding: 0;
  margin-top: 36px;
}

.find {
  display: flex;
  min-height: 600px;
  background: var(--grey);
}

.find__article {
  padding-left: 112px;
}

.find__image {
  flex-basis: 50%;
  background: url(./images/Background.png) center / cover;
}

.find__button {
  margin-top: 56px;
  width: 250px;
  height: 60px;
  color: var(--white);
  background: var(--orange);
}

.about {
  display: flex;
  min-height: 600px;
  background: var(--grey);
}

.about__image {
  flex-basis: 50%;
  background: url(./images/Media.png) center / cover;
}

.about__button {
  margin-top: 56px;
  width: 200px;
  height: 60px;
  background-color: var(--grey);
}

@media screen and (max-width: 1439px) {
  .article {
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .find {
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
  }

  .find__button {
    margin-bottom: 56px;
  }

  .find__image {
    flex: 1;
  }

  .about {
    flex-direction: column;
    align-items: center;
    padding-top: 154px;
  }

  .about__button {
    margin-bottom: 56px;
  }
}

.gifts {
}
