* {
  box-sizing: border-box;
}

.page {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  font-family: "Gilroy";
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 41px;
  height: 39px;
}

.header__links {
  list-style: none;
  display: flex;
  column-gap: 31px;
}

.header__link {
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
}

.header__link a {
  text-decoration: inherit;
  color: inherit;
}

.button {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #f7941e;
  border-radius: 5px;
}
