@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("./fonts/Gilroy-Regular.eot") format("embedded-opentype"),
    url("./fonts/Gilroy-Regular.woff") format("woff"),
    url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.page {
  --orange: #f7941e;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  font-family: "Gilroy", sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 116px;
}

.logo {
  width: 41px;
  height: 39px;
}

.header__links {
  list-style: none;
  display: flex;
  column-gap: 31px;
  padding: 0;
}

.header__link {
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
}

.header__link a {
  text-decoration: inherit;
  color: inherit;
}

.button {
  color: var(--orange);
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #f7941e;
  border-radius: 5px;
  width: 150px;
  height: 44px;
  background: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 580px) {
  .header {
    flex-direction: column;
  }
}

@media screen and (max-width: 330px) {
  .header {
    height: auto;
  }
  .header__links {
    flex-direction: column;
  }
}
